{extend name="base"/}
{block name="title"}Outfit日志发布{/block}
{block name="main"}
<div class="breadcrumb-area bg-grey">
    <div class="container">
        <div class="cr-breadcrumb">
            <h2></h2>
            <ul>
                <li><a href="{:url('index/index')}">首页</a></li>
                <li>日志</li>
            </ul>
        </div>
    </div>
</div>
<!--// Breadcrumb Area -->

<!-- Page Conttent -->
<main class="page-content">

    <!-- Contact Area -->
    <!-- <div class="cr-section contact-area section-padding-lg bg-white"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <div class="google-map" id="google-map"></div> -->
            </div>
        </div>
        <div class="row section-padding-top-lg">
            <div class="col-lg-12">
                <h4 class="small-title">
                    <span>发布日志</span>
                </h4>
                <form action="" method="POST" id="contact-form" class="karigor-form">
                    <div class="karigor-form-inner">
                        <div class="karigor-form-input karigor-form-input-half">
                            <input type="text" name="log_title" placeholder="标题*" required>
                        </div>

                        <!-- <div class="karigor-form-input">
                            <input type="text" name="subject" placeholder="Subject*" required>
                        </div> -->

                        <div class="karigor-form-input">
                            <textarea name="log_desc" cols="30" rows="5" placeholder="正文*"></textarea>
                        </div>
                        <div class="karigor-form-input">
                            <button type="submit" class="button">
                                <span>发布</span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="form-message"></p>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <!--// Contact Area -->

</main>
{/block}