{extend name="base"/}
{block name="title"}Outfit首页{/block}
{block name="main"}
		<!-- Hero Area -->
		<div class="hero-area bg-white">
			<div class="container">
				<div class="hero-area-inner">
					<div class="hero-area-text">
						<h1>
							你好， <br>
							这里是OutFit
						</h1>
						<h5>一个可以让你改变自身形象，成为潮流达人，找到最合适的穿搭的网站</h5>
						<!-- <a href="about.html" class="readmore">ABOUT ME</a> -->
					</div>
					<div class="hero-area-image">
						<img src="__PUBLIC__/docs/img/slider/slider-image-1.png" alt="man mask">
					</div>
					
				</div>
			</div>
		</div>
		<!--// Hero Area -->

		<!-- Page Conttent -->
<main class="page-content">

	<!-- Portfolios Ara -->
	<div class="cr-section services-area section-padding-bottom-lg bg-white">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="section-title text-center"style="margin-top: 20px;">
						<h2>推荐穿搭</h2>
						<p>为您选出最适合您的穿搭风格</p>
					</div>
				</div>
			</div>
			<div class="row portfolios-wrapper portfolios-zoom-button-holder">
				{volist name='plist' id='vo'}
				<div class="col-lg-4 col-md-6 col-12 portfolio-item portfolio-filter-graphic portfolio-filter-design">
					<div class="portfolio">
						
						<div class="portfolio-image">
							{if condition="$type[$i-1] eq 'jpg'|'png'|'gif'"}							
							<img src="__IMG__/{$vo.pic}" alt="portfolio image" height="500px" width="450px">
							{elseif condition="$type[$i-1] eq 'mp4'|'avi'"}
							<video src="__IMG__/{$vo.pic}" controls="controls" width="375px" height="491.11px">
							{/if}
						</div>
						{if condition="$type[$i-1] eq 'jpg'|'png'|'gif'"}
						<div class="portfolio-content">
							<a href="__IMG__/{$vo.pic}" class="portfolio-zoom-button"></a>
							<h5><a href="{:url('Picture/detail',['pic_id'=>$vo.pic_id])}">查看详情</a></h5>
							<!-- <h6><a href="portfolio.html">收藏</a></h6> -->
						</div>
						{/if}
						<a href="{:url('Picture/detail',['pic_id'=>$vo.pic_id])}">
						<footer class="blog-item-footer">
							<ul class="blog-item-meta">
								<li><span class="iconfont icon-rili"></span>{$vo.pic_uptime}</li>
								<li><span class="iconfont icon-yonghu"></span>{$vo.pic_name}</li>
                                <li><span class="iconfont icon-liulanliang"></span>{$vo.pic_view}</li>
							</ul>
						</footer>
					</a>
					</div>
				</div>
				{/volist}
			</div>
		</div>
		<!-- <p style="text-align: center"><img style="margin-top: 100px" src="__PUBLIC__/docs/photo/6.jpg" width="70px" height="50px"></p> -->
		<p style="text-align: right"></P><div class="icon-refresh"></div></p>
	</div>

	<div class="cr-section services-area section-padding-bottom-lg bg-white">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="section-title text-center">
						<h2>推荐达人</h2>
						<p>为您选出最适合您的穿搭风格和指引者</p>
					</div>
				</div>
			</div>
			<div class="row">
				{volist name='ulist' id='vo'}
				<!-- Single Service -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="service text-center">
						<div  class="pp">
							<a href="{:url('personal/other',['user_id'=>$vo.user_id])}">
							<img src="__IMG__/{$vo.user_pic}"  width="300px" height="300px"></a>
						</div>
						<h5>{$vo.user_name}</h5>
						<p>-{$vo.user_desc}-</p>
						<div class="aa" style="color:darkseagreen"> <p><a href="{:url('follow/lst',['user_id'=>$vo.user_id])}">粉丝  {$count[$i-1]}</a> |
							<a href="{:url('picture/lst',['user_id'=>$vo.user_id])}">穿搭   {$outfit[$i-1]}</a></p></div>
					</div>
				</div>
                {/volist}
			</div>
		</div>
		<!-- <p style="text-align: center"><img style="margin-top: 100px" src="__PUBLIC__/docs/photo/6.jpg" width="70px" height="50px"></p> -->
		<p style="text-align: right"></P><div class="icon-refresh"></div></p>
	</div>

	<!--// Service Area -->
	<div class="cr-section services-area section-padding-bottom-lg bg-white">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7">
					<div class="section-title text-center">
						<h2>最新活动</h2>
						<p>为您带来最棒的资讯与福利！</p>
					</div>
				</div>
			</div>
			<div class="row">
				{volist name="alist" id="vo"}
				<div class="col-lg-4 col-md-6 col-12">
					<div class="service text-center">
						<img src="__IMG__/{$vo.activity_post}" width="300px" height="300px">
						<h5>{$vo.activity_name}</h5>
						<p>-{$vo.activity_desc}-</p>
						<div class="aa">
							<a style="color: #808080" href="{:url('activity/detail',['activity_id'=>$vo.activity_id])}"> 活动报名</a></div>
					</div>
				</div>
				{/volist}
				</div>
			</div>
		</div>
		<!-- <p style="text-align: center"><img style="margin-top: 100px" src="__PUBLIC__/docs/photo/6.jpg" width="70px" height="50px"></p> -->
		<p style="text-align: right"></P><div class="icon-refresh"></div></p>
	</div>
</main>
{/block}
