<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{block name="title"}Outfit{/block}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="__PUBLIC__/docs/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="__PUBLIC__/docs/img/icon.png">
    <!-- Google font (font-family: 'Dosis', sans-serif;) -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="__PUBLIC__/docs/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/docs/css/plugins.css">
    <!-- Style Css -->
    <link rel="stylesheet" href="__PUBLIC__/docs/css/icon/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/docs/style.css">
    <link rel="stylesheet" href="__PUBLIC__/docs/css/index.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="__PUBLIC__/docs/css/custom.css">
    <link rel="stylesheet" href="__PUBLIC__/docs/css/nstyle.css">
    <script src="__PUBLIC__/docs/js/icon/iconfont.js"></script>
    <script src="__PUBLIC__/docs/js/icon-delete/iconfont.js"></script>

</head>
<body>
<!-- Add your site or application content here -->
<!-- Wrapper -->
<div id="wrapper" class="wrapper">

    {include file="common:header"/}

    {block name="main"}{/block}

    {include file="common:footer"/}

    <!--// Footer Area -->
</div>
<!--// Wrapper -->
<!-- Js Files -->
{block name="foot"}
<script src="__PUBLIC__/docs/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="__PUBLIC__/docs/js/vendor/jquery-3.3.1.min.js"></script>
<script src="__PUBLIC__/docs/js/popper.min.js"></script>
<script src="__PUBLIC__/docs/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/docs/js/plugins.js"></script>
<script src="__PUBLIC__/docs/js/main.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>

{/block}
</body>
</html>