{extend name="base"/}
{block name="title"}Outfit余额提现{/block}
{block name="main"}
{volist name="info" id="vo"}
<div class="breadcrumb-area bg-grey">

    <div class="container">
        <div class="cr-breadcrumb">

            <h2>{$vo.activity_name}</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">申请余额提现</a></li>
                <li>{$Request.session.user_name}</li>
            </ul>

        </div>
    </div>
</div>
<!--// Breadcrumb Area -->
<!-- Page Conttent -->
<main class="page-content">
    <!-- Blog Area -->
    <div class="cr-section blog-area section-padding-lg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-details">

                        <div class="blog-item-body">
                            <h3 class="blog-item-title">提现详情</h3>
                            <p>1.成为达人后才可开放提现功能。</p>
                            <p>2.以10：1的比例，取100为最小单位来提现金额。</p>
                            <p>3.参加活动+20积分，积分发布穿搭+10积分，发布日志+5积分，发布评论+3积分。</p>
                        </div>
                        <div class="col-lg-12">
                            <h4 class="small-title">
                                <span>积分详情</span>
                            </h4>
                            <a>积分:<span>{$vo.user_score}</span></a>
                            <div class="karigor-form-inner" >
                            <div class="karigor-form-inner" style="margin: 0 auto;">
                                <div class="karigor-form-input">
                                    <a class="button" href="{:url('change/getchange')}" data-content="余额提现">
                                        <span>余额提现</span>
                                    </a>
                                </div>
                            </div>

                            <p class="form-message"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--// Blog Area -->
</main>
{/volist}
{/block}
