
<header class="header sticky-header">
    <div class="container">
        <div class="header-inner d-none d-lg-flex">
            <div class="header-logo">
                <a href="{:url('Index/index')}">
                    <img src="__PUBLIC__/docs/img/logo/123.png" alt="logo">
                </a>
            </div>
            <div class="header-navigation">
                <button class="header-navigation-trigger">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                {if condition="$Request.session.user_name != ''"}
                <nav class="main-navigation">
                    <ul>
                        <li><a href="{:url('Index/index')}">首页</a></li>
                        <li><a href="{:url('Log/pub')}">发布日志</a></li>
                        <li><a href="{:url('Activity/lst')}">参加活动</a></li>
                        <li><a href="{:url('Picture/pub')}">发布穿搭</a></li>
                        <li><a href="{:url('personal/myself',['user_id'=>$vo.user_id])}">{$Request.session.user_name}</a>
                            <ul>
                                <li><a href="{:url('personal/myself',['user_id'=>$vo.user_id])}">个人主页</a></li>
                                <li><a href="{:url('index/editmyself',['user_id'=>$vo.user_id])}">修改信息</a></li>
                                <li><a href="{:url('index/edit',['user_id'=>$vo.user_id])}">修改密码</a></li>
                                <li><a href="{:url('Index/logout')}">注销</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {else/}
                <nav class="main-navigation">
                    <ul>
                        <li><a href="{:url('Index/index')}">主页</a></li>
                        <li><a href="{:url('login/login')}">登录</a></li>
                        <li><a href="{:url('register/register')}">注册</a></li>
                    </ul>
                </nav>
                {/if}
            </div>
        </div>
    </div>
</header>